.header{
    color: rgb(0, 0, 0);
    font-family: 'Simple Serenity';
    font-size: 70px;
    text-align: center;
    margin-top: -90px;
    font-weight: 100;
   
}
.head span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.head span:hover {
  transform: scale(1.2);
  color: black ;/* optional: add color change */
  cursor:grabbing;
}