.posters{
    width: 250px;
    height: 400px;
}
.main-container{
    margin-top: -50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.images{
    display: flex;
    gap: 33px;
    justify-items: center;
    align-items: center;
}
.bg1 {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 650px;
    margin-top: -580px;
    justify-items: left;
    margin-left: -200px;
}
.bg2 {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1300px;
    margin-top: -700px;
    justify-items: left;
    margin-left: 700px;
}
