body{
  background-color: white;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Impact';
  src: url('./impact.woff');
}
@font-face {
  font-family: 'LeJour';
  src: url('./LeJour.woff');
  
}
@font-face {
  font-family: 'TT Hoves';
  src: url('./TT-Hoves.woff');
}
@font-face {
  font-family: "Simple Serenity";
  src: url("./Simple-Serenity-Serif.woff2");
  font-weight: 900;
}